<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="1.4.6 version_test_resport " parallel="tests" preserve-order="true">
    <test name="启动app" preserve-order="true">
        <classes>
            <class name="xiaqiu.LaunchXiaqiuTest" />
            <methods>
                <include name="login_test"></include>
                <include name="indexPage_test"></include>
                <include name="baseInfo_test"></include>
                <!-- <include name="bankInfo_test"></include> -->
               
            </methods>
        </classes>
    </test>
</suite>